<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="source" value="TEST2"></add>
    <add key="log" value="Application"></add>
  </appSettings>
  <connectionStrings>
    <add name="SourceConn" connectionString="server=.; database=master;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>